body {
  background-color: rgb(169, 170, 205);
}
a {
  color: white;
  padding: 10px 5px 10px 5px;
}
.title-head > h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 55px;
  color: rgb(223, 219, 224);
  margin-top: 250px;
  text-shadow: 4px 2px 8px rgb(17, 19, 14);
}

.break-line {
  width: 55%;
}

.social-btns > a > button {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  border: 2px solid black;
  color: black;
}

button:hover {
  background-color: black;
}

.home-page {
  height: 1000px;
  background-color: rgb(111, 167, 158);
  /*background-image:url(http://stuffpoint.com/nature/image/165143-nature-nice-nature.jpg);*/
}

.about-page {
  height: 1000px;
  background-color: rgb(180, 145, 57);
  /*background-image:url(http://p1.pichost.me/i/20/1432320.jpg);*/
}
.upper-space {
  margin-top: 100px;
}
img {
  padding: 1px;
  border: 2px solid black;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  padding: 20px;
}
.portfolio-page {
  height: 1000px;
  background-color: rgb(81, 65, 147);
}
.contact-page {
  height: 1000px;
  background-color: rgb(8, 71, 91);
}
.twitter{
  background-color: #3cf;
}
.github, .codepen {
  background-color: black;
}
.linkedin {
  background-color: #0077B5;
}
